<main>
    <section class="container">
        <div class="row">
            <h2 class="titulo">Regístrate</h2>
            <div class="col-3"></div>
            <form class="formulario col-6" [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <input type="submit" value="Registrarme" class="btn">
            </form>
            <div class="col-3"></div>
        </div>
</section>
</main>