<main>
    <section class="container">
        <div class="row">
            <h2 class="titulo">Creación/edición de productos</h2>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario col-6">
                <div class="mb-3">
                    <label class="form-label">Nombre del producto</label>
                    <input type="text" formControlName="name" placeholder="Por ej: Bufanda de punto" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="number" formControlName="price" placeholder="Por ej: 9,50€" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea type="text" formControlName="description" placeholder="Por ej: Lo más vendido este mes" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ruta de la imagen</label>
                    <input type="text" formControlName="image" placeholder="Por ej: https://google-images.com/img.jpg" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Opiniones</label>
                    <input type="number" max="5" min="1" placeholder="Por ej: 4,1" class="form-control" formControlName="stars">
                </div>
                <div >
                    <button type="submit" class="btn" [disabled]="!formulario.valid">Guardar</button>
                </div>
            </form>
            
            
            <!-- Barra divisoria TEMPORALMENTE EN ESTA SECTION -->
            <div class="col-1">
                <svg width="3" height="434" viewBox="0 0 3 434" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="2.5" y1="0.00129533" x2="1.37565" y2="434.001" stroke="#F89F21" />
                </svg>
            </div>

            <section class="col-5">
                <div class="products">
                    <h4 class="titulo">Preview del producto</h4>
                    <div class="product" *ngIf="formulario.valid">
                        <!-- Antes del *ngIF estaba este otro *ngFor="let prod of arrProductos, let i = index" (click)="loadProductData()" -->
                        <img [src]="formulario.value.image" alt="">
                        <h3>{{formulario.value.name }}</h3>
                        <h4>Precio: {{formulario.value.price}} €</h4>
                        <p>Descripción: {{formulario.value.description}}</p>
                        <span>Opinión: {{formulario.value.stars}}</span>
                    </div>
                </div>
            </section>
        </div>
    </section>
    


</main>
